body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    background-color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text {
    color: #999999;
}

.reset {
    margin: 1em;
    background-color: rgba(0,0,0,0);
    border: 1px solid #999999;
    color: #999999;
    text-align: center;
}

.reset:hover {
    cursor: pointer;
}

.reset:active {
    background-color: #999999;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .5em;
}

.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #999999;
    background-color: rgba(0,0,0,0);
    border: 1px solid #999999;
    width: 100px;
    height: 100px;
}

.grid div:hover {
    cursor: pointer;
}


